<mat-card>
    <h2 class="alinear">Listado de Usuarios</h2>
    <mat-card-header>
        <div>
            <mat-form-field hintLabel="Busque nombre" appearance="fill">
                <mat-label>Buscar por nombre</mat-label>
                <input matInput [(ngModel)]="nombreFiltro" (keyup)="aplicarFiltro()">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field hintLabel="Busque app" appearance="fill">
                <mat-label>Buscar por app</mat-label>
                <input matInput [(ngModel)]="apellidoFiltro" (keyup)="aplicarFiltro()">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field hintLabel="Busque N° usuario" appearance="fill">
                <mat-label>Buscar Usuario</mat-label>
                <input matInput [(ngModel)]="noUserFiltro" (keyup)="aplicarFiltro()">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field hintLabel="Busque calle" appearance="fill">
                <mat-label>Buscar calle</mat-label>
                <input matInput [(ngModel)]="calleFiltro" (keyup)="aplicarFiltro()">
            </mat-form-field>
        </div>
    </mat-card-header>
    <mat-card-header >
        <div class="right">
            <ul>
                <li>
                   <button mat-raised-button color="primary" (click)="openUserDialog();"> Agregar Usuario</button> 
                </li>
                <li>
                    <button mat-button color="primary" (click)="exportExcel();"> Exportar excel</button> 
                 </li>
            </ul>
        </div>
    </mat-card-header>
    <div mat-card-image></div>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-cell">
            <!--Id column-->
            <ng-container matColumnDef="noUser">
                <th mat-header-cell *matHeaderCellDef> N° Usuario</th>
                <td mat-cell *matCellDef="let element" >{{element.noUsuario}}</td>
            </ng-container>

            <!--Id column-->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre</th>
                <td mat-cell *matCellDef="let element" >{{element.nombre}} {{element.nombre2}} {{element.app}} {{element.apm}}</td>
            </ng-container>

             <!--name column-->
             <ng-container matColumnDef="direccion">
                <th mat-header-cell *matHeaderCellDef> Dirección</th>
                <td mat-cell *matCellDef="let element" >{{element.direccion}}</td>
            </ng-container>

            <!--name column-->
            <ng-container matColumnDef="casa">
                <th mat-header-cell *matHeaderCellDef> Casa</th>
                <td mat-cell *matCellDef="let element" >  {{ element.casa || '-' }} </td>
            </ng-container>

            <!--description column-->
            <ng-container matColumnDef="observaciones">
                <th mat-header-cell *matHeaderCellDef> Observaciones</th>
                <td mat-cell *matCellDef="let element"></td>
            </ng-container>

            <!--actions column-->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones</th>
                <td mat-cell *matCellDef="let element; let i = index;" >
                    <button mat-icon-button color="accent" (click)="edit(element)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>
                    <button mat-icon-button color="accent">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns:displayColumns"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons=""></mat-paginator>
    </mat-card-content>
</mat-card>