<div>
    <mat-card>
        <mat-card-content>
            <form [formGroup]="detailsForm">
                <div>
                    <mat-form-field>
                        <mat-label>Fecha</mat-label>
                        <input matInput placeholder="Fecha" formControlName="fecha" required />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Nombre 2</mat-label>
                        <input matInput placeholder="Proposito" formControlName="purpose" />
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <mat-expansion-panel  hideToggle class="">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Detalles
            </mat-panel-title>
            <mat-panel-description>
                Detalles asamblea
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-paginator [pageSizeOptions]="[10,20,30]" showFirstLastButtons=""></mat-paginator>
    </mat-expansion-panel>
    <mat-expansion-panel  (opened)="getAssemblyById()" hideToggle class="">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Asistencia
            </mat-panel-title>
            <mat-panel-description>
                Lista asistencia
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="right">
            <button mat-raised-button color="primary" (click)="openAsistenciaDialog();" > Asistencia</button> 
        </div>
        <table mat-table [dataSource]="dataSource" class="mat-cell">
            <ng-container matColumnDef="noUser">
                <th mat-header-cell *matHeaderCellDef> N° Usuario</th>
                <td mat-cell *matCellDef="let element">{{element.waterUser.noUsuario}}</td>
            </ng-container>
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre</th>
                <td mat-cell *matCellDef="let element">{{element.waterUser.person.nombre}} {{element.waterUser.person.nombre2}} {{element.waterUser.person.app}} {{element.waterUser.person.apm}}</td>
            </ng-container>
            <ng-container matColumnDef="asistencia">
                <th mat-header-cell *matHeaderCellDef> Asistencia</th>
                <td mat-cell *matCellDef="let element">{{element?.asistencia ? 'Sí' : 'No'}}</td>
            </ng-container>
            <ng-container matColumnDef="observaciones">
                <th mat-header-cell *matHeaderCellDef> Observaciones</th>
                <td mat-cell *matCellDef="let element">{{element.observaciones }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns:displayColumns"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10,20,30]" showFirstLastButtons=""></mat-paginator>
    </mat-expansion-panel>
</div>
