<form [formGroup]="form">
    <div fxLayout="row wrap" fxLayoutGap="24px" fxLayoutAlign="start stretch">
        <mat-form-field appearance="outline" fxFlex="45%">
            <mat-label>Estatus toma</mat-label>
            <mat-select formControlName="fkEstatusTomaId">
                <mat-option *ngFor="let cat of estatusToma" [value]="cat.catalogoOpcionesId">
                    {{ cat.nombre }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="start center">
            <mat-checkbox color="primary" formControlName="tieneToma">Tiene toma</mat-checkbox>
        </div>
    </div>

    <p *ngIf="tomaSinConexion" class="mat-hint">
        La toma está marcada como "Sin conexión" -- selecciona un estatus de toma distinto
        para clasificar si habita domicilio, es renta, doméstico o negocio.
    </p>

    <div *ngIf="!tomaSinConexion">
        <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start center">
            <mat-checkbox color="primary" formControlName="habitaDomicilio">Habita domicilio</mat-checkbox>
            <mat-checkbox color="primary" formControlName="inmuebleRenta">Es renta</mat-checkbox>
        </div>

        <div *ngIf="mostrarNegocioIndependiente" fxLayout="row" fxLayoutAlign="start center">
            <mat-checkbox color="primary" formControlName="esNegocio">Es un negocio</mat-checkbox>
        </div>

        <div *ngIf="mostrarUsoToggle">
            <p class="mat-hint">¿Es uso doméstico o negocio?</p>
            <mat-radio-group formControlName="esNegocio" fxLayout="row" fxLayoutGap="32px">
                <mat-radio-button color="primary" [value]="false">Doméstico</mat-radio-button>
                <mat-radio-button color="primary" [value]="true">Negocio</mat-radio-button>
            </mat-radio-group>
        </div>

        <p *ngIf="!form.value.habitaDomicilio && !form.value.inmuebleRenta && !esUsoNegocio" class="mat-hint">
            Marca "Habita domicilio", "Es renta", o "Es un negocio" para clasificar el uso.
        </p>

        <div *ngIf="esUsoNegocio">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" fxFlex="40%">
                    <mat-label>Giro del negocio (opcional)</mat-label>
                    <mat-select formControlName="giroNegocioId">
                        <mat-option [value]="null">Sin especificar</mat-option>
                        <mat-option *ngFor="let g of girosNegocio" [value]="g.catalogoOpcionesId">
                            {{ g.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start center">
                <mat-checkbox color="primary" formControlName="tieneLocal">Tiene local (espacio físico dedicado)</mat-checkbox>
                <mat-checkbox color="primary" formControlName="localRentadoPorUsuario" *ngIf="form.value.tieneLocal">
                    El local lo renta el mismo usuario
                </mat-checkbox>
            </div>
        </div>

        <p *ngIf="esUsoDomestico" class="mat-hint">
            Uso doméstico -- el censo de personas está habilitado en el acordeón "Censo de personas".
        </p>
    </div>

    <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="onGuardar()">
            <mat-icon>save</mat-icon> Guardar
        </button>
    </mat-card-actions>
</form>
