<div>
    <form [formGroup]="detailsForm">
        <div>
            <mat-card>
                <mat-card-content>
                  <!-- Primera fila: Usuario y Estatus -->
                  <div fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="start stretch">
                    <mat-form-field appearance="outline" fxFlex>
                      <mat-label>N° Usuario</mat-label>
                      <input matInput placeholder="noUsuario" formControlName="noUsuario" required />
                    </mat-form-field>
              
                    <mat-form-field appearance="outline" fxFlex>
                      <mat-label>Estatus</mat-label>
                      <mat-select formControlName="estatusPagoId">
                        <mat-option *ngFor="let cat of catalogData.cat4" [value]="cat.catalogoOpcionesId">
                          {{ cat.nombre }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
              
                    <mat-form-field appearance="outline" fxFlex>
                      <mat-label>Estatus comité</mat-label>
                      <mat-select formControlName="estatusComiteId">
                        <mat-option *ngFor="let cat of catalogData.cat5" [value]="cat.catalogoOpcionesId">
                          {{ cat.nombre }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
              
                  <!-- Segunda fila: Datos personales -->
                  <div fxLayout="row wrap" fxLayoutGap="24px" fxLayoutAlign="start stretch" style="margin-top: 16px;">
                    <mat-form-field appearance="outline" fxFlex="30%">
                      <mat-label>Nombre</mat-label>
                      <input matInput placeholder="nombre" formControlName="nombre" required />
                    </mat-form-field>
              
                    <mat-form-field appearance="outline" fxFlex="30%">
                      <mat-label>Nombre 2</mat-label>
                      <input matInput placeholder="nombre2" formControlName="nombre2" />
                    </mat-form-field>
              
                    <mat-form-field appearance="outline" fxFlex="30%">
                      <mat-label>Apellido Paterno</mat-label>
                      <input matInput placeholder="app" formControlName="app" required />
                    </mat-form-field>
              
                    <mat-form-field appearance="outline" fxFlex="30%">
                      <mat-label>Apellido Materno</mat-label>
                      <input matInput placeholder="apm" formControlName="apm" required />
                    </mat-form-field>
              
                    <mat-form-field appearance="outline" fxFlex="45%">
                      <mat-label>Email</mat-label>
                      <input matInput placeholder="email" formControlName="email" />
                    </mat-form-field>
                  </div>
                </mat-card-content> 
                <!-- Segundo Card: Dirección -->
                <mat-card class="mt-4">
                  <mat-card-content>
                    <div fxLayout="row wrap" fxLayoutGap="24px" fxLayoutAlign="start stretch">
                      <mat-form-field appearance="outline" fxFlex="30%">
                        <mat-label>Sección</mat-label>
                        <mat-select formControlName="fkIdSeccion">
                          <mat-option *ngFor="let cat of catalogData.cat1" [value]="cat.catalogoOpcionesId">
                            {{ cat.nombre }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
              
                      <mat-form-field appearance="outline" fxFlex="30%">
                        <mat-label>Calle</mat-label>
                        <input matInput placeholder="calle" formControlName="calle" required />
                      </mat-form-field>
              
                      <mat-form-field appearance="outline" fxFlex="20%">
                        <mat-label>Numero</mat-label>
                        <input matInput placeholder="numero" formControlName="numero" required />
                      </mat-form-field>
              
                      <mat-form-field appearance="outline" fxFlex="45%">
                        <mat-label>Referencia</mat-label>
                        <input matInput placeholder="referencia" formControlName="referencia" />
                      </mat-form-field>
              
                      <mat-form-field appearance="outline" fxFlex="45%">
                        <mat-label>Entre calle</mat-label>
                        <input matInput placeholder="entreCalle1" formControlName="entrecalle1" />
                      </mat-form-field>

                      <mat-form-field appearance="outline" fxFlex="45%">
                        <mat-label>Entre calle</mat-label>
                        <input matInput placeholder="entreCalle2" formControlName="entrecalle2" />
                      </mat-form-field>
                    </div>
                  </mat-card-content>
              
                  <mat-card-actions align="end">
                    <button mat-raised-button color="primary" (click)="onSaveUser()">
                      <mat-icon>save</mat-icon> Guardar
                    </button>
                  </mat-card-actions>
                </mat-card>
              </mat-card>
            <mat-accordion class="user-headers-align">
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Usuario
                      </mat-panel-title>
                      <mat-panel-description>
                        Detalle usuario
                        <mat-icon class="ml-2">account_circle</mat-icon>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div fxLayout="column" fxLayoutGap="24px">
                      <!-- Primera fila de campos -->
                      <div fxLayout="row wrap" fxLayoutGap="24px" fxLayoutAlign="start stretch">
                        <mat-form-field appearance="outline" fxFlex="30%">
                          <mat-label>N° Usuario</mat-label>
                          <input matInput placeholder="noUsuario" formControlName="noUsuario" required />
                        </mat-form-field>
                  
                        <mat-form-field appearance="outline" fxFlex="30%">
                          <mat-label>Estatus</mat-label>
                          <mat-select formControlName="estatusPagoId">
                            <mat-option *ngFor="let cat of catalogData.cat4" [value]="cat.catalogoOpcionesId">
                              {{ cat.nombre }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                  
                        <mat-form-field appearance="outline" fxFlex="30%">
                          <mat-label>Estatus comité</mat-label>
                          <mat-select formControlName="estatusComiteId">
                            <mat-option *ngFor="let cat of catalogData.cat5" [value]="cat.catalogoOpcionesId">
                              {{ cat.nombre }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="30%">
                          <mat-label>N° Casa</mat-label>
                          <input matInput placeholder="N° casa" formControlName="casaNo" required />
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="30%">
                          <mat-label>N° Grupo</mat-label>
                          <input matInput placeholder="N° Grupo" formControlName="grupoId" required />
                        </mat-form-field>
                      </div>
                  
                      <!-- Segunda fila: Cuota y Frecuencia -->
                      <div fxLayout="row wrap" fxLayoutGap="24px" fxLayoutAlign="start stretch">
                        <mat-form-field appearance="outline" fxFlex="45%">
                          <mat-label>Cuota</mat-label>
                          <mat-select formControlName="fkIdCuota">
                            <mat-option *ngFor="let amount of amounts" [value]="amount.cuotaMontoId">
                              {{ amount.type }} - {{ amount.cuota }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                  
                        <mat-form-field appearance="outline" fxFlex="45%">
                          <mat-label>Frecuencia Pago</mat-label>
                          <mat-select formControlName="fkFrecuenciaPagoId">
                            <mat-option *ngFor="let cat of catalogData.cat3" [value]="cat.catalogoOpcionesId">
                              {{ cat.nombre }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="45%">
                            <mat-label>Estatus toma</mat-label>
                            <mat-select formControlName="fkEstatusTomaId">
                                <mat-option *ngFor="let cat of catalogData.cat6" [value]="cat.catalogoOpcionesId">
                                    {{ cat.nombre }}
                                </mat-option>
                            </mat-select>
                          </mat-form-field>
                      </div>

                      <!-- Checkboxes -->
                      <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="start center">
                        <mat-checkbox color="primary" formControlName="habitaDomicilio">
                          Habita domicilio
                        </mat-checkbox>
                  
                        <mat-checkbox color="primary" formControlName="tieneToma">
                          Tiene toma
                        </mat-checkbox>

                        <mat-checkbox color="primary" formControlName="inmuebleRenta">
                            Es renta
                          </mat-checkbox>
                      </div>
                  
                      <!-- Observaciones -->
                      <div>
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>Observaciones</mat-label>
                          <textarea matInput rows="3" placeholder="observaciones" formControlName="observaciones"></textarea>
                        </mat-form-field>
                      </div>
                      <mat-card-actions align="end">
                        <button mat-raised-button color="primary" (click)="onSaveWaterUser()">
                          <mat-icon>save</mat-icon> Guardar
                        </button>
                      </mat-card-actions>
                    </div>
                  </mat-expansion-panel>
                <mat-expansion-panel (opened)="getNotify()" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Avisos Usuario
                        </mat-panel-title>
                        <mat-panel-description>
                            Avisos realizados al usuario
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <table mat-table [dataSource]="dataSourceNotify" class="mat-cell">
                        <ng-container matColumnDef="aviso">
                            <th mat-header-cell *matHeaderCellDef> Aviso</th>
                            <td mat-cell *matCellDef="let element">{{element.aviso}} </td>
                        </ng-container>
                        <ng-container matColumnDef="comentario">
                            <th mat-header-cell *matHeaderCellDef> comentario</th>
                            <td mat-cell *matCellDef="let element">{{element.comentario}}</td>
                        </ng-container>
                        <ng-container matColumnDef="estatus">
                            <th mat-header-cell *matHeaderCellDef> Estatus</th>
                            <td mat-cell *matCellDef="let element">{{element.estatus}}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayColumnsNotify"></tr>
                        <tr mat-row *matRowDef="let row; columns:displayColumnsNotify"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10,20,30]" showFirstLastButtons=""></mat-paginator>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="getCenso()" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Censo
                        </mat-panel-title>
                        <mat-panel-description>
                            Ceso usuariouva
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Detalle censo.</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </form>
    <div mat-card-image></div>
    <mat-expansion-panel (opened)="getAssembly()" hideToggle class="">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Asambleas
            </mat-panel-title>
            <mat-panel-description>
                Asistencia asamblea
            </mat-panel-description>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="dataSourceAssembly" class="mat-cell">
            <ng-container matColumnDef="dateS">
                <th mat-header-cell *matHeaderCellDef> Fecha</th>
                <td mat-cell *matCellDef="let element">{{element.dateS}}</td>
            </ng-container>
            <ng-container matColumnDef="asistencia">
                <th mat-header-cell *matHeaderCellDef> Asistencia</th>
                <td mat-cell *matCellDef="let element"> {{element.attendance[0]?.asistencia ? 'Sí' : 'No'}}</td>
            </ng-container>
            <ng-container matColumnDef="observaciones">
                <th mat-header-cell *matHeaderCellDef> Observaciones</th>
                <td mat-cell *matCellDef="let element">{{element.attendance[0].observaciones}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayColumnsAssembly"></tr>
            <tr mat-row *matRowDef="let row; columns:displayColumnsAssembly"></tr>
        </table>
    </mat-expansion-panel>
    <app-user-receipt [usuario]="usuario"></app-user-receipt>
</div>