<div>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let user of listWaterUser; trackBy: trackByUser">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ user.person.nombre }} {{ user.person.nombre2 }}  {{ user.person.app }} {{ user.person.apm }}
        </mat-panel-title>
        <mat-panel-description>
          Historial de pagos - Usuario #{{ user.noUsuario }} - {{ user.observaciones }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-user-receipt [usuario]="user"></app-user-receipt>
    </mat-expansion-panel>
  </mat-accordion>
</div>
